/* 
 * General
 */

html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  
  font-weight: 300;
  letter-spacing: -1.2px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.section-content {
  color: #3a3a3a;
  float: left;
  width: 340px;
}

.section-device {
  float: right;
  position: relative;
  top: 65px;
}

.section-device img {
  width: 600px;
}

.btn-primary {
  background: #4285f4;
  border: 1px solid #1266f1;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-secondary {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: #3372df;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}



/* 
 * Header
 */

header {
  //background-color: #C1C7C9;
  background-color: #4285f4;
  padding: 25px 0;
}

.title {
  float: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: 19px;
  color: #fff;
}

.title a, .title a:visited {
  color: #3a3a3a;
  float: right;
}

.main-nav {
  float: right;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav li a {
  color: #3a3a3a;
}


/*
 * Hero section 
 */

.hero-section .section-content {
  position: relative;
  top: 100px;
}

.hero-section .section-content h2 {
  font-size: 40px;
}

.hero-section .section-content .btn-primary {
  margin-right: 10px;
}


/*
 * Sign up
 */ 

.signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 53px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #3a3a3a;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285f4;
  background-color: transparent;
  color: #3a3a3a;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #db4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #db4437;
}

.error-message {
  color: #db4437;
}


/*
 * Sign up
 */ 

.about-section h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.about-section p {
  font-size: 16px;
  text-align: justify;
}

.service-section h2 {
  font-size: 30px;
  margin-bottom: 1;
}

.service-section p {
  font-size: 16px;
  text-align: justify;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}




.section-details h2 {
    font-size: 30px;
    margin-bottom: 0;
    position: relative;
    float: left;
}

.section-details p {
    font-size: 16px;
    text-align: justify;
    position: relative;
    float: right;
    width: 600px;
    top: 65px;
}


/* 
 * Home
 */

.section-tabs {
  float: left;
  width: 340px;
}

.section-tabs .places {
  margin-top: 62px;
  padding-right: 20px;
}

.section-tabs .places a,
.section-tabs .places a:visited {
  color: #3372df; 
}


.section-tabs article {
  margin-bottom: 20px;
}

.section-tabs article .name {
  font-size: 18px;
}

.section-tabs article .walking-distance {
  color: #6e6e6e;
  font-size: 13px;
  margin: 0;
}

.section-map {
  float: right;
  width: 660px;
}

.section-map .nav {
  padding: 20px 0;
}

.section-map .form-group {
  display: inline;
}

.section-map #address {
  font-size: 14px;
  margin-right: 10px;
  width: 87%;
}

.section-map #submit {
  font-size: 10px;
  padding: 5px 15px;
}

#map {
  height: 500px;
}

.leaflet-popup-content h3 {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 10px 0 ;
}
