{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About the project</h2>
        <p>
            This system is a stock recommendation system based on the moving average crossover strategy.
            The user will be presented with the option of choosing a listed company and two moving
            averages <i>fast</i> and <i>slow</i>.
        </p>
        <p>
            The starting amount of cash will be <b>10000 USD</b> and each trade will be performed with a fix amount
            of <b>10 stock units</b>.
            The system will backtest the moving average strategy for the previous year and present the user with
            the final  value of its portfolio, <i>cash</i> and <i>stocks</i>.
        </p>
        <p>
            In order to make the trading simulation as close as possible to the real world, the system will have
            a rate of <b>.1% fees</b> from each successful transaction.
        </p>
        <p>
            Based on user's choice of strategy and equity, the model will optimize the parameters of the strategy
            (<i>namely the values of the moving averages</i>) in order to maximize the returns.
            The recommendation will be presented to the user as a comparison between user's own choice
            and the system's optimized choice.
        </p>
        <p>
            One more strategy which is not based on the moving average crossover will be presented as
            comparison to the above strategies.
            This simple strategy will create a buying signal when the previous closing dates were down 2 days in a row
            and exit the market after 10 bars. The unit of bars can be anything, hours, days, weeks, however
            in this case for simplicity we will use days.
        </p>
        <p>
            Furthermore, the system will try to predict the trend for the next day,
            returning <b>+1</b> for uptrend and <b>-1</b> for downtrend.
        </p>


	<h2>About the strategy</h2>
        <p>Following description is taken from
            <a href="http://www.investopedia.com/university/movingaverage/movingaverages4.asp">Investopedia</a></p>
        <p>
            A crossover is the most basic type of signal and is favored among many traders because it removes
            all emotion. The most basic type of crossover is when the price of an asset moves from one side of a
            moving average and closes on the other.
        </p>
        <p>
            <b>Price crossovers</b> are used by traders to identify shifts in momentum and can be used as a basic
            entry or exit strategy. A cross below a moving average can signal the beginning of a downtrend and would
            likely be used by traders as a signal to close out any existing long positions. Conversely, a close
            above a moving average from below may suggest the beginning of a new uptrend.
        </p>
        <p>
            The second type of crossover occurs when a <b>short-term average crosses through a long-term average</b>.
            This signal is used by traders to identify that momentum is shifting in one direction and that a strong
            move is likely approaching. A buy signal is generated when the short-term average crosses above the long-term
            average, while a sell signal is triggered by a short-term average crossing below a long-term average.
        </p>
        <p>
            Additional moving averages may be added to the chart to increase the validity of the signal.
            Many traders will place the five-, 10-, and 20-day moving averages onto a chart and wait until the
            five-day average crosses up through the others – this is generally the primary buy sign. Waiting for
            the10-day average to cross above the 20-day average is often used as confirmation, a tactic that
            often reduces the number of false signals.
        </p>


    <h2>About the technical aspect</h2>
        <p>
            The system was built using <a href="http://flask.pocoo.org/">flask framework</a>
            and the data plotting is being done with <a href="https://plot.ly/">plotly</a>.
        </p>
        <p>
            Using <a href="https://developer.yahoo.com/yql/">Yahoo! Finance APIs</a>, we retrieve the OHLC
            (<i>open, high, low, close</i>) and volume data for each of the queried stocks.
        </p>
        <p>
            Besides the graphical user interface, the system also provides a very simple REST API interface:
            <pre><b>GET</b>:/symbol/[ticker],[fast],[slow]</pre>
        </p>
        <p>
            For the trend prediction, the regression model is based on LDA
            (<i><a href="https://en.wikipedia.org/wiki/Linear_discriminant_analysis">linear discriminant analysis</a></i>)
            and QDA (<i><a href="https://en.wikipedia.org/wiki/Quadratic_classifier">quadratic discriminant analysis</a></i>)
            and makes use of <a href="http://scikit-learn.org/stable/modules/lda_qda.html">scikit-learn</a>
            for machine learning and pandas and numpy for data manipulation.
        </p>

    <!--<h2>Others</h2>-->
        <!--<p>Week 1 - <a href="http://159.203.76.129:8000/index_week01.html" target="_blank">presentation</a></p>-->
        <!--<p>Week 2 - <a href="http://159.203.76.129:8000/index_week02.html" target="_blank">presentation</a></p>-->
        <!--<p>Week 3 - <a href="http://159.203.76.129:8000/index_week03.html" target="_blank">presentation</a></p>-->
        <!--<p>Week 4 - <a href="http://159.203.76.129:8000/index_week04.html" target="_blank">presentation</a></p>-->
        <!--<p>Week 5 - presentation</p>-->
        <!--<p>Week 6 - presentation</p>-->
        <!--<p>Week 7 - presentation</p>-->
        <!--<p>Week 8 - presentation</p>-->


        <a href="{{ url_for('service') }}" class="btn-primary">The Model</a>
        <a href="{{ url_for('index') }}" class="btn-secondary">Home</a>

    </div>
  </main>
{% endblock %}
