{% extends "layout.html" %}

{% block content %}

<main class="service-section">
    <div class="container">

        <h2>Comparison - work in progress</h2>

        <img src="static/img/figure_0.png" width=95%><br>
        <img src="static/img/figure_1.png" width=95%><br>

        <a href="{{ url_for('service') }}" class="btn-primary">Run Again</a>
        <a href="{{ url_for('index') }}" class="btn-secondary">Home</a>


    </div>
</main>


{% endblock %}
