{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Enhance your trading strategies</h2>
        <a href="{{ url_for('service') }}" class="btn-primary">The Model</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
      </div>

      <div class="section-device">
        <img src="static/img/device.png">
          <p>&copy; <a href="http://www.istockphoto.com/">iStockPhoto</a></p>
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}