<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Capstone Project - The Data Incubator</h1>
      </div>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p class="error-message">{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

        {% block content %}
        {% endblock %}

  </body>
</html>