{% extends "layout.html" %}

{% block content %}

<main class="service-section">
    <div class="container">

        <h2>MA Crossover Strategy for {{ symbol }}</h2>

        <table class="table">
            <tr>
                <th>Strategy</th>
                <th>MA Short (days)</th>
                <th>MS Long (days)</th>
                <th>Portfolio (U$D)</th>
            </tr>
            <tr>
                <td>Current</td>
                <td>{{ ma_short }}</td>
                <td>{{ ma_long }}</td>
                <td>{{ current_portfolio_value }}</td>
            </tr>
            <tr class="info">
                <td>Optimized</td>
                <td>{{ optimal_smafast }}</td>
                <td>{{ optimal_smaslow }}</td>
                <td>{{ optimal_portfolio_value }}</td>
            </tr>
        </table>

        <iframe
                width=100% height="650" frameborder="0" seamless="seamless" scrolling="no"
                src="{{ plot }}.embed?width=100%&height=650">
        </iframe>
        <a href="{{ url_for('service') }}" class="btn-primary">Run Again</a>
        <a href="{{ url_for('index') }}" class="btn-secondary">Home</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
    </div>
</main>


{% endblock %}