{% extends "layout.html" %}

{% block content %}
<main class="container service-section">
    <div class="container">

        <div class="section-content">
            <h2>The Model</h2>
            <p>Thank you Yahoo! for the data.</p>

            <form method="POST" action="{{ url_for('service') }}" enctype="multipart/form-data">
                <div class="form-group">
                    {{ form.ticker_name.label }}

                    {% if form.ticker_name.errors %}
                        {% for error in form.ticker_name.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.ticker_name }}
                </div>

                <div class="form-group">
                    {{ form.ma_short.label }}

                    {% if form.ma_short.errors %}
                        {% for error in form.ma_short.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.ma_short }}
                </div>

                <div class="form-group">
                    {{ form.ma_long.label }}

                    {% if form.ma_long.errors %}
                        {% for error in form.ma_long.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.ma_long }}
                </div>

                {{ form.submit(class="btn-primary") }}
                <a href="{{ url_for('index') }}" class="btn-secondary">Home</a>

            </form>
        </div>

        <div class="section-details">
            <h2>Your Moving Average Crossover Strategy</h2>
            <p>Following three fields below are required.</p>
            <p>
                <b>Ticker</b>: input the stock of your interest here. (Eg. <i>MSFT</i>, <i>GOOG</i>, <i>AMZN</i>).
                This is not case sensitive, however the ticker must be a valid one.
            </p>
            <p>
                <b>Fast moving average</b>: this is the short period for which we calculate the moving average.
                (Eg. 10, 15, 20). The unit is days.
            </p>
            <p>
                <b>Slow moving average</b>: this is the long period for which we calculate the moving average.
                (Eg. 25, 30, 50). The unit is days.
            </p>
            <p></p>
            <p>
                <b>Buy signal</b>: when the fast moving average will cross and move above the slow moving average
            </p>
            <p>
                <b>Sell signal</b>: when the fast moving average will cross and move below the slow moving average
            </p>
        </div>

        <div class="clearfix"></div>

    </div>
</main>

{% endblock %}